@import "_variables";

.leitsatz {
  display:flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0rem;

  h3 {
    font-size: 1.4rem;
    color: $blue;
  }
  
  @media (min-width: $breakpoint-tablet) {
    margin: 4rem 0rem;

    h3 {
      font-size: 2rem;
    }
  }
}