@import "_variables";

.video {
  padding: 2rem 0rem 4rem 0rem;
  display: flex;
  justify-content: center;
  width: 100%;
  background: linear-gradient(to bottom,
        #ffffff 0%,
        #ffffff 50%,
        $main-blue 0%,
        $main-blue 100%);

    div {
      width: 100%;

      @media (min-width: $breakpoint-tablet) {
        padding: 3rem 0rem 4rem 0rem;
        width: $breakpoint-tablet;
      }
      
      @media (min-width: $breakpoint-laptop) {
        width: $breakpoint-laptop;
      }

      @media (min-width: $breakpoint-desktop) {
        width: $breakpoint-desktop;
      }
      
      video {
        height: 100%;
        width: 100%;
        max-height: 85vh;
        border: 0;
        background: #000;
      }
    }

}

